@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CloisterBlack";
  src: url("./assets/fonts/CloisterBlack.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Playwrite";
  src: url("./assets/fonts/Lora.ttf") format("truetype");
}

.paragraph::first-letter {
  @apply text-8xl font-normal font-firstLetter float-left mr-4 bg-dark text-primary px-1;
  line-height: 1.2;
}

.paragraph {
  @apply font-general font-bold;
}

.backface-hidden {
  backface-visibility: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #e1d6c8;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 2px;
}



::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece:start {
  background-color: transparent;
  margin-top: 4px;
}

::-webkit-scrollbar-track-piece:end {
  background-color: transparent; /* Set the background of the end track piece to transparent */
  margin-bottom: 4px; /* Add margin to the bottom */
}

